.top-navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBE8F4;
    width: 1440px;
    height: 80px;
    background-color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 29px;
    margin: 25px 149px 25px 80px;

}

.logo-main {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #22202E;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 702px;
    height: 22px;
    margin: 29px 0px;
}

.navbar-link {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    padding: 8px;
}

.side-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 16px;
    margin: 30px 80px 34px 0px;
}

.nav-link {
    text-decoration: none;
    width: 16px;
    height: 16px;
}

.nav-link-search {
    background-image: url(./search.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-link-cart {
    background-image: url(./shopping--cart.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-link-account {
    background-image: url(./user--avatar.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1440px;
    height: 223px;
}

.title {
    width: 309px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 556px 0px 575px;
}

.title-text {
    font-family: "Montserrat", sans-serif;
    color: #2A254B;
    font-size: 36px;
    font-weight: 400;
    line-height: 50.4px;
}

.option-container {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 64px;
    margin: 24px 80px 5px 80px;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 417px 8px 24px;
    width: 570px;
    height: 48px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown select {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A254B;
    height: 48px;
    padding: 12px 24px 12px 24px;
    width: auto;
    border: none;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 48px;
}

label.sorting-label {
    margin-right: 16px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A254B;
}

.dropdown-1.sorting-dropdown {
    display: inline-block;
}

.dropdown-1.sorting-dropdown select {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A254B;
    height: 48px;
    padding: 12px 24px 12px 24px;
    width: auto;
    border: none;
}

.listing {
    width: 1440px;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-exp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 462px;
    gap: 20px;
    margin: 28px 80px 20px 80px;
}

.product-card {
    width: 305px;
}

.caption-title {
    display: block;
    margin: 24px 141px 0px 0px;
}

.caption {
    display: block;
}

.caption.text-1 {
font-family: Montserrat, sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #2A254B;
text-transform: capitalize;
}

.caption.text-2 {
font-family: Open Sans, sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #2A254B;
}

.listing-2 {
    width: 1440px;
    height: 634px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-exp-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 462px;
    gap: 20px;
    margin: 28px 80px 144px 80px;
}

.sign-up {
    width: 1440px;
    height: 521px;
    background-color: grey;
    background-image: url(./join-background.jpg);
    background-repeat: no-repeat;
    display: grid;
}

.text-text {
    display: block;
    width: 541px;
    height: 39px;
    margin: 70px 130px 21px 769px;
}

h2 {
font-family: Montserrat, sans-serif;
font-size: 32px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0em;
color: #2A254B;
}

.text-text-2 {
    display: block;
    width: 470px;
    height: 48px;
    margin: 0px 130px 216px 769px;
}

p {
font-family: Open Sans, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #2A254B;
}

.button {
display: flex;
justify-content: center;
align-items: center;
background-color: #2A254B;
width: 120px;
height: 56px;
margin: 0px 528px 70px 792px;
}

.button-text {
    text-decoration: none;
    color: white;
    padding: 16px 32px;
}

.footer {
width: 1440px;
height: 380px;
background-color:#2A254B;
color: white;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 48px;
}

.footer-heading {
font-family: Montserrat, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}

.footer-text {
text-decoration: none;
color: white;
font-family: Open Sans, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
}

.footer-logo {
width: 642px;
height: 195px;
background-image: url(./map.jpg);
}

hr {
    border-color: #4E4D93;
    width: 1277px;
}

.last-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px;
}

.footer-copyright {
width: 168px;
height: 19px;
color: white;
font-family: Open Sans, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
}

.footer-social {
    width: 264px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkedin {
    background-image: url(./logo--linkedin.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.facebook {
    background-image: url(./logo--facebook.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.instagram {
    background-image: url(./logo--instagram.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.skype {
    background-image: url(./logo--skype.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url(./logo--twitter.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pinterest {
    background-image: url(./logo--pinterest.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}